<!-- <div class="wrapper" style="overflow: hidden;">
    <div class="logo">
        <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
    </div>
    <form class="p-3 mt-3" autocomplete="off">

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Enter-Password</mat-label>
            <input required [(ngModel)]="userfulldsjndskslsls.password" #name="ngModel" name="password" matInput
                placeholder="Enter here">


        </mat-form-field>

        <!--Password-->

<!-- <button class="btn mt-3">Send-Mail</button>


    </form>
    <div class="text-center fs-6">
        <a routerLink="/register">Sign up</a>
    </div>


</div> -->