<main id="main">
    <section id="main-carousel">
        <div class="container-fluid">
            <div class="row">
                <div class="col px-0">
                    <div class="carousel slide kb-carousel carousel-fade" id="carouselKenBurns" data-bs-ride="carousel">
                        <!-- Carousel Items -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/assets/Home2.jpg" width="412px" height="550px" class="d-block w-100 sm"
                                    alt="Slide 1">
                                <div class="carousel-caption kb-caption kb-caption-center st">

                                    <h2 class="lineUp">Welcome To BricksFunds</h2>
                                    <button data-animation="animated" class="bd" routerLink="/login">Login</button>
                                    <button data-animation="animated" class="mk" routerLink="/register">Sign-Up</button>

                                </div>
                            </div>
                            <div class="carousel-item" loading="lazy">
                                <img src="/assets/Home1.jpg" width="412px" height="550px" class="d-block w-100"
                                    alt="Slide 2">
                                <div class="carousel-caption kb-caption kb-caption-center st">

                                    <h2 class="lineUp">Welcome To BricksFunds</h2>
                                    <button data-animation="animated" class="bd" routerLink="/login">Login</button>
                                    <button data-animation="animated" class="mk" routerLink="/register">Sign-Up</button>
                                </div>
                            </div>
                            <div class="carousel-item" loading="lazy">
                                <img src="/assets/trading.jpg" loading="lazy" width="412px" height="550px"
                                    class="d-block w-100" alt="Slide 3">
                                <div class="carousel-caption kb-caption kb-caption-center st">

                                    <h2 class="lineUp">Welcome To BricksFunds</h2>
                                    <button data-animation="animated" class="bd" routerLink="/login">Login</button>
                                    <button data-animation="animated" class="mk" routerLink="/register">Sign-Up</button>
                                </div>
                            </div>
                        </div>

                        <!-- Carousel Arrows -->
                        <button class="carousel-control-prev kb-control-prev" type="button"
                            data-bs-target="#carouselKenBurns" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next kb-control-next" type="button"
                            data-bs-target="#carouselKenBurns" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>