<div class="text-center">
    <app-slider></app-slider>

    <h4 class="text-center text section-titles2" style="margin-top: 20px;">About Us</h4>
    <h3 class="text-center text section-titles3" style="margin-top: 20px;">BRICKS-FUNDS AIMS TO DISRUPT THE FOREX
        INDUSTRY
        BY LOWERING THE BARRIER
        TO CREATING ALGORITHMIC TRADING MODELS.</h3>


    <div class="container" style="margin-top: 30px;">
        <div class="row">

            <div class="col-md-6 fadeInUp" style="animation-delay:2s;">

                <h1 style="color: rgb(114,152,183);">TRADING WITH EXCELLENCE</h1>
                <p style="color: rgb(114,152,183);width: 100%;">&nbsp;&nbsp;&nbsp;
                    BRICKS FUNDS started in the year 2016. Trading Firm and Stock management advisory. BRICKS FUNDS is a
                    firm of experienced traders and investment bankers and the team procures experts in market research,
                    trade analysis, and stock monitoring. We are international corporate collaboration and leaders in
                    providing Meta4 and Meta5 trading technology platform for forex, CFD and equity . BRICKS FUNDS
                    offers success. We are a result driven platform. We have been delivering top-notch trading services
                    to
                    clients worldwide. We are a team that likes to Lift awards and technology that can electrify the
                    work.
                </p>
            </div>
            <div class=" col-md-6">

                <img src="/assets/767.jpg" class="mj" loading="lazy" width="50%" height="50%" alt="">
            </div>
        </div>
    </div>

    <h4 class="text-center text section-titles2" style="margin-top: 20px;">PROBLEMS & SOLUTIONS</h4>

    <h3 class="text-center text section-titles3" style="margin-top: 20px; font-size: 20px;">WE HAVE 4 TYPES OF BONUS
        INCOME, EACH WITH
        ITS OWN VALIDATION OF ACHIEVEMENTS. TRADERS WILL GET A GOOD UNDERSTANDING OF THIS VALIDATIONS AND CAN EASILY
        MAKE THROUGH ALL FOUR.</h3>

  
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="margin-top: 10px;">
                <div class="card" style="width: 100%;">

                    <div class="card-body">
                        <h5 class="card-title">Forex Trading</h5>
                        <p class="card-text">We have a huge resource management and Infrastructure wherein more than 70+
                            expert
                            traders perform trading activity with the help of our inbuilt tools and software.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4" style="margin-top: 10px;">
                <div class="card" style="width: 100%;">

                    <div class="card-body">
                        <h5 class="card-title">BricksFunds Account
                        </h5>
                        <p class="card-text">A trader is one who can balance the entities. Bricks-Funds is built on
                            balancing the profi
                            t and loss entities. Every trader is provided with a Free traders account</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4" style="margin-top: 10px;">
                <div class="card" style="width: 100%;">

                    <div class="card-body" style="width: 100%;">
                        <h5 class="card-title">BricksFunds Community
                        </h5>
                        <p class="card-text" style="margin-bottom: 23px;">Building a network to connect To close Ones
                            The impact of this community
                            will help every individual to maximize investments

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer" style="margin-top: 20px;">
        <div class="container">
            <div class="row">


                <div class="col-md-4" style="justify-content: center;margin: auto;">
                    <div class="">
                        <h4 style="color: white;font-weight: bolder;">Subscribe today</h4>
                        <div class="signup_form">
                            <h5 style="color: white;">Contact-us: officialbricksfunds@gmail.com
                            </h5>
                        </div>
                    </div>
                    <div class="social_profile">
                        <ul>
                            <li><a href="https://www.instagram.com/bricksfunds._?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="></i></a></li>
                            <li><a href="https://twitter.com/BricksFunds"><i class="fa-brands fa-x-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/profile.php?id=61555361987675&mibextid=ZbWKwL"><i
                                        class="fa-brands fa-facebook"></i></a>
                            </li>
                            <li><a href="https://t.me/+qY8JQx348tViMWY1"><i class="fa-brands fa-telegram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div><!--- END COL -->
            </div><!--- END ROW -->
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p class="copyright">Copyright © 2024 <a href="#">BricksFunds</a></p>
                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </div>
</div>
